/* _content/ProjectViews/Areas/User/Views/Shared/_UserLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nuq9yk3y7e] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nuq9yk3y7e] {
  color: #0077cc;
}

.btn-primary[b-nuq9yk3y7e] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nuq9yk3y7e], .nav-pills .show > .nav-link[b-nuq9yk3y7e] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nuq9yk3y7e] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nuq9yk3y7e] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nuq9yk3y7e] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nuq9yk3y7e] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nuq9yk3y7e] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProjectViews/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0pb1zz465c] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0pb1zz465c] {
  color: #0077cc;
}

.btn-primary[b-0pb1zz465c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0pb1zz465c], .nav-pills .show > .nav-link[b-0pb1zz465c] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0pb1zz465c] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0pb1zz465c] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0pb1zz465c] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0pb1zz465c] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0pb1zz465c] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProjectViews/Views/Shared/_SidebarPartialView.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gwscv32z1b] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gwscv32z1b] {
  color: #0077cc;
}

.btn-primary[b-gwscv32z1b] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gwscv32z1b], .nav-pills .show > .nav-link[b-gwscv32z1b] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gwscv32z1b] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gwscv32z1b] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gwscv32z1b] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gwscv32z1b] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gwscv32z1b] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
